<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>
<div align="center">
    <h1>Employees List</h1>
    <a th:href="@{/showAddEmployeeForm}">Add Employee</a><br><br>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.emailId}"></td>
            <td><a th:href="@{/showUpdateForm/{id}(id=${employee.id})}">Update</a></td>
            <td><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
